@{
  ViewData["Title"] = "Accounts";
}

<div class="row">
  <div class="col-md-3">
    <h2>Accounts</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <a asp-controller="accounts" asp-action="add">Add Account</a>
  </div>
</div>