@model List<AccountIndex>
@{
  ViewData["Title"] = "Accounts";
}

<div class="row">
  <div class="col-md-6">
    <h2>Accounts</h2>
    <ul>
      @foreach (var account in Model) {
        <li>@account.Name</li>
      }
    </ul>
  </div>
</div>