@{
  ViewData["Title"] = "Confirm Account";
}
<div class="row">
  <div class="col-md-6">
    <h2>Confirm Account</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-@Model.Class">
      <div class="panel-body">
        <span class="text-@Model.Class">@Model.Message</span>
      </div>
    </div>
  </div>
</div>