@{
  ViewData["Title"] = "Register";
}

<div class="row">
  <div class="col-md-6">
    <h2>Register</h2>
    <form method="POST">
      Email: <input type="text" name="email" /><br/>
      Password: <input type="password" name="password" /><br/>
      <button type="submit" class="btn btn-primary">Register</button>
    </form>
  </div>
</div>