@model RegisterViewModel
@{
  ViewData["Title"] = "Register";
}
<div class="row">
  <div class="col-md-6">
    <h2>Register</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    @if (Model != null && !string.IsNullOrWhiteSpace(Model.ErrorMessage))
    {
    <div class="panel panel-danger">
      <div class="panel-body">
        <span class="text-danger">@Model.ErrorMessage</span>
      </div>
    </div>
    }
    <form method="POST">
      <div class="form-group">
        <input type="text" class="form-control" asp-for="Email" placeholder="Email">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Register</button>
      </div>
      <div class="form-group">
        Already have an account? <a asp-controller="auth" asp-action="login">Sign in here</a>.
      </div>
    </form>
  </div>
</div>